/*
!app/
/app/*

!app/code/
/app/code/*

!app/code/local/
/app/code/local/*
!app/code/local/MW/

!app/code/community/
/app/code/community/*

!app/design/
/app/design/*
!app/design/frontend/
/app/design/frontend/*

!app/design/frontend/magezurb/
/app/design/frontend/magezurb/*
!app/design/frontend/magezurb/default/

!app/etc/
/app/etc/*
!app/etc/modules/
/app/etc/modules/*
!app/etc/modules/MW_Mcore.xml
!app/etc/modules/MW_Onestepcheckout.xml

!js/
/js/*
!js/mw_onestepcheckout/
!js/magezurb/

!skin/
/skin/*
!skin/frontend/
/skin/frontend/*

!skin/frontend/magezurb/
/skin/frontend/magezurb/*
!skin/frontend/magezurb/default/

!.gitignore
