@import "../../../foundation/settings";
$include-html-grid-classes: false;
$include-html-classes: false;
$include-print-styles: false;

@import "../../../foundation/components/global"; // *always required
@import "../../../foundation/components/inline-lists";
/* product grid
// template\catalog/product/list.phtml
*/
.products-grid { 
    @media (min-width: 767px) { // big screens
        @include block-grid(3);
        li{

        padding:0 1.6rem 3.2rem !important;
        }
    }
    @media (max-width: 767px) { // small screens
        @include block-grid(1);
        li {
        	margin-bottom: 4rem;
        }
    } 
}

/* layered nav
// template\catalog/product/list.phtml
*/
.block-layered-nav {

}
.cms-menu ul {
	margin-top:9px;
	margin-left:0;
	list-style: none;
}