@font-face {
    font-family: 'museo_slab500';
    src: url('fonts/Museo_Slab_500_2-webfont.eot');
    src: url('fonts/Museo_Slab_500_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Museo_Slab_500_2-webfont.woff') format('woff'),
         url('fonts/Museo_Slab_500_2-webfont.ttf') format('truetype'),
         url('fonts/Museo_Slab_500_2-webfont.svg#museo_slab500') format('svg');
    font-weight: normal;
    font-style: normal;

} 

@import "foundation/settings";
$include-html-grid-classes: false;
$include-html-classes: false;
$include-print-styles: false;

@import "foundation/components/global"; // *always required
@import "foundation/components/grid";

@import "font-awesome/variables";
@import "font-awesome/mixins";
@import "font-awesome/path";
@import "font-awesome/core";
@import "font-awesome/larger";
@import "font-awesome/fixed-width";
@import "font-awesome/list";
@import "font-awesome/bordered-pulled";
@import "font-awesome/spinning";
@import "font-awesome/rotated-flipped";
@import "font-awesome/stacked";
@import "font-awesome/icons";

/* helpers */
@import "theme/helpers/mixins";
@import "theme/helpers/variables";
@import "theme/settings";

/* layout */
@import "theme/layout/l_2col-left";
@import "theme/layout/l_home-page";
@import "theme/layout/l_footer";
// header  
@import "theme/layout/header/layout_header"; 
@import "theme/layout/header/layout_header-big-screens"; 
@import "theme/layout/header/layout_header-small-screens";  
// category
@import "theme/layout/category/layout-category";
// product
@import "theme/layout/product/layout-product";
// cms
@import "theme/layout/cms/layout_cms-general";
// cart
@import "theme/layout/cart/layout_cart";
// account
@import "theme/layout/account/layout_account";

/* modules */
// header
@import "theme/modules/header/catalog-search"; 

@import "theme/modules/newsletter/subscribe";

@import "theme/modules/category/description";
@import "theme/modules/category/filter";
@import "theme/modules/category/product";
  
@import "theme/modules/product/price";
@import "theme/modules/product/sizeguide";
@import "theme/modules/product/instock";
@import "theme/modules/product/social";
@import "theme/modules/product/options";
@import "theme/modules/product/button";
@import "theme/modules/product/main-image";
@import "theme/modules/product/details";

@import "mw_checkout/main";



