// @import "foundation/settings";
// $include-html-grid-classes: false;
// $include-html-classes: false;
// $include-print-styles: false;

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";

@media (max-width: 767px) {
  .large-screen-header {
    display:none
  }

  .oc-menu, .contact-top, .cart-links ul.links {
    list-style: none;
    margin:0 6px;
    li {
      display:block;
      border-top:1px solid #615E5E;
      border-bottom:1px solid #000;
      margin:0;
    }
    li:first-of-type {
      border-top:none;
    }
    li:last-of-type{
      border-bottom:none;
    }
    li a {
      display: block;
      padding:12px 20px;
    }
    li a:hover{
      background:$loud-color;
      color:$base-color;
    }
  }
  .cart-links {
    padding-bottom:15px;
    border-bottom:3px solid $loud-color;
    margin-bottom:15px;
  }

  .form-search{height:60px; border-bottom:1px solid #828282;}

  .slide-menu .row {
    margin:0;
  }
  .slide-menu .col-md-12, .slide-menu .col-md-6 {
    padding:0;
  }

  ul.nav-flat {
    list-style: none;
    padding:0;
    margin:0;

  }
  .nav-flat li {
    display: block;
    height: 40px;
    padding:0;
  }
   .nav-flat li a {
    font-size: 16px;
    padding: 14px 0 14px 15px;
    display: block;
    height: 40px;
    height: 100% ;
    color:#828282;
    /*color:#ff7400;*/
    font-weight: 700;
    width:100%;
   }
   .nav-flat li a:hover {
    background:#ff7400;
    color:#282828;
   }
   .slide-menu-left .nav-flat li a {text-align: right;  padding-right:15px;}
   .slide-menu-right .nav-flat li a {text-align: left;  padding-left:15px;}
 

   .account-nav    .nav-flat  li a:hover {
    color:#282828;
    background:#ff7400;
    text-shadow: #333 0.1em 0.1em 0.1em;
    text-decoration: none;

   }
}


