/* template\catalog/product/price.phtml */

	.old-price{
		width: 49%;
		float: left;
		text-align: right;
		padding-right: 1%;
		text-decoration: line-through;
	}
	.special-price{
		width: 49%;
		float: left;
		text-align: left;
		padding-left: 1%;
	}

	.pro h5 .price{
	color:#282828;
	font-size: 32px;
	display:block;
	width:100%;
	border-bottom:4px solid #e78f1a;
	padding-bottom:20px; margin-bottom:20px;
}