.sizechart {
	float:left;
	width: 100%;
	padding-top: 20px;
	border-top: 5px solid $loud-color;
	p, a, li, ul li {
		color:#636363;
	}
}



.size-chart-button {
	float: right;
	font-size: 12px;
	text-decoration: none;
	background: url(images/size_guide.png) no-repeat left top;
	display: block;
	height: 17px;
	color: #636363;
	padding: 0 0 0 57px;
}

.size-chart-button:hover {
	color: #9C1633;
	background: url(images/size_guide.png) no-repeat left bottom;
}

.reveal-modal .close-reveal-modal {
font-size: 1rem;
padding: 10px 20px;
line-height: 1;
position: absolute;
top: 0.5rem;
right: 0.6875rem;
color: #fff;
font-weight: bold;
cursor: pointer;
background: #ccc;
}
.reveal-modal .close-reveal-modal:hover{
	background:#636363;
}






.make-this-hidden {
	display:none;
}



