/* cart noItems.ptml */


.short-content-container{
	min-height:400px;
}
.single-column-centered {
	@media (min-width: 767px) { // big screens
		@include grid-column($columns:10, $center:true);
    }
    @media (max-width: 767px) { // small screens
		@include grid-column(12);
    }
}

.account-section-title{
 color:$text-color; 
 border-bottom:4px solid $loud-color;
}

.account-subtitle {
	color:$text-color;
	font-size: 18px;
}

.account-navigation { // ul
	padding: 9px 0 9px 9px;
	list-style: none;
	margin-left: 0;
}

.cart-subtitle {
	color:#636363;
	font-size: 12px;
}
.cart-edit {
	font-size: 12px;
padding: 3px;
}

.item-options {
	dt, dl {
		float:left;
		font-weight: normal;
	}
	dt {
		padding-right:6px;
	}
}
.product-name, .product-name a {
	padding: 0;
margin: 0;
font-size: 28px;
color: #636363;
}
.cart-item-wrapper {
	border-top:4px solid $loud-color;
	padding-top:10px;
	margin-top: 10px;
}
.cart-item-top-section {
	border-top:1px dotted $loud-color;
	margin-top: 5px;
}


.cart-widget-title {
	
	border-top:4px solid #ccc;
	padding-top: 5px;
}
/* main cart */

button.btn-proceed-checkout{
	background: $loud-color !important;
	color:snow !important;
}

.cart-item-wrapper:last-of-type{
	// border-bottom:1px dotted $loud-color;
	padding-bottom: 5px;
	margin-bottom:25px;

}

.cart-subtotal{
	background:#ccc;
	width:100%;
	padding:5px 7px;
	span{
		float: right; 
	}
}
.cart-subtotal.tax {
	background: none;
}

.cart-title {
	font-size: 17px;
	color:$text-color;
	text-transform: uppercase;
}

.cart-price .price {
	font-size: 30px;
	float:right;
	color:$text-color;
}
.cart-product-name {
	margin-bottom:10px;
	font-size: 19px;
	.cart-price .price {
		font-size: 19px;
		float:left;
	}
	a {
		float: left;
		color:$text-color;
	}

}

.cart-product-list-subtotal {
	float: left;
	padding-top:10px;
	border-top: 4px solid $loud-color;
	border-bottom: 4px solid $loud-color;
	width:100%;
	p{
		display: inline;
		float:left;
		width: 70%;
	}
	span {
		font-size: 30px;
	float:right;
	color:$text-color;
	}

}